$fontJost: "Jost";
$a-hover: rgb(182, 180, 180);
$contact-a: rgb(97, 97, 97);
$text-color: black;
$text-title: white;
$background-item: black;
// $button-hover: #5a2912;
// $button-hover: black;
$button-hover: #39b54a;
// $button-color: #c27137;
$button-color: #d40e8c;