@import "variable";
@import "font";
@import "mixin";



//CSS breadcrumb
.gallery-head{
    @include font($fontJost);
    @include pagehead;
}

// CSS jobs
.gallery{
    background-color: $background-item;
    width: 100%;
    font-family: $fontJost;
    padding-top: 30px;
    padding-bottom: 50px;
    .gallery-wrap{
        margin: auto;
        .filters-container{
            background-color: black;
            margin: auto;
            // margin-top: 40px;
            // height: 800px;
            .filters-wrap{
                .active{
                    color: $text-title;
                    background-color: $button-color;
                }
                list-style-type: none;
                position: relative;
                width: 100%;
                background-color: $text-title;
                border-radius: 10px;
                box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
                display: table;
                text-align: center;
                overflow: hidden;
                margin: 0;
                padding: 0;
                li{
                    font-family: $fontJost;
                    display: table-cell;
                    padding: 40px 0px;
                    width: 33%;
                    cursor: pointer;
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    color: $text-color;
                }
            }
            .filters-content{
                margin-top: 50px;
                // height: 700px;
                .row{
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    position: relative;
                    height: 600px;
                    .all{
                        width: 100%;
                        // padding-right: 15px;
                        // padding-left: 15px;
                        flex: 0 0 25%;
                        max-width: 25%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        .single-menu{
                            // background: #fff;
                            border-radius: 10px;
                            // padding: 30px;
                            margin-top: 20px;
                            overflow: hidden;
                            cursor: pointer;
                            // .title-wrap{
                            //     display: flex !important;
                            //     justify-content: space-between !important;
                            //     margin-bottom: 20px;
                            //     h4{
                            //         font-weight: 600;
                            //         font-size: 18px;
                            //         line-height: 1.2em !important;
                            //         &:first-of-type{
                            //             color: #222;
                            //         }
                            //         &:last-of-type{
                            //             color: #f42f2c;
                            //         }
                            //     }
                            // }
                            // p{
                            //     color: #777;
                            //     font-size: 14px;
                            //     font-weight: 300;
                            //     max-width: 392px;
                            // }
                            img{
                                width: 100%;
                                height: 260px;
                                transition: 1.5s;
                            }
                            &:hover{
                                img{
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

// CSS show-image
@keyframes showimage {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
    }
}

.hide{
    display: none;
}
#show-image{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    padding: 40px;
    padding-left: 60px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    animation: showimage .8s;
    column-gap: 10px;
    .img{
        width: 100%;
        height: 70%;
        max-width: 600px;
        position: relative;
        border: 5px solid white;
        img{
            width: 100%;
            height: 100%;
        }
        p{
            position: absolute;
            bottom: -60px;
            color: $text-title;
            font-size: 18px;
            left: 50%;
            transform: translate(-50%);
            text-transform: capitalize;
        }
        #pre-button,#next-button{
            position: absolute;
            top: 50%;
            opacity: 0;
            cursor: pointer;
            transition: 1s;
            i{
                color: $button-color;
                font-size: 50px;
            }
        }
        #pre-button{
            left: 10px;
        }
        #next-button{
            right: 10px;
        }
        &:hover{
            #pre-button,#next-button{
                opacity: 1;
            }
        }
    }
    .close{
        display: flex;
        align-items: flex-start;
        height: 80%;
        #close-button{
            color: white;
            background-color: $button-color;
            font-size: 35px;
            height: 32px;
            width: 32px;
            cursor: pointer;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: .5s;
            &:hover{
                background-color: $button-hover;
                border: 1px solid $text-title;
            }
            i{
                font-size: 22px;
            }
        }
     
    }
}

@media screen and (max-width:1300px) {
    .menu-slide-container{
        display: none;
    }
    
}
@media screen and (max-width:1100px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-content{
                    .row{
                        .all{
                            .single-menu{
                                img{
                                    height: 220px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:991px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-wrap{
                    li{
                        padding: 30px;
                    }
                }
                .filters-content{
                    .row{
                        .all{
                            flex: 0 0 33%;
                            max-width: 33%;
                            .single-menu{
                                img{
                                    height: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width:800px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-content{
                    .row{
                        .all{
                            flex: 0 0 33%;
                            max-width: 33%;
                            .single-menu{
                                img{
                                    height: 230px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width:700px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-wrap{
                    li{
                        padding: 20px;
                    }
                }
                .filters-content{
                    margin-top: 20px;
                    .row{
                        .all{
                            flex: 0 0 50%;
                            max-width: 50%;
                            .single-menu{
                                img{
                                    height: 270px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:600px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-wrap{
                    li{
                        padding: 20px;
                    }
                }
                .filters-content{
                    margin-top: 20px;
                    .row{
                        .all{
                            flex: 0 0 50%;
                            max-width: 50%;
                            .single-menu{
                                img{
                                    height: 240px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width:500px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-content{
                    .row{
                        .all{
                            flex: 0 0 50%;
                            max-width: 50%;
                            .single-menu{
                                img{
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #show-image{
        .img{
            max-height: 200px;
            p{
                font-size: 14px;
            }
        }
    }
    
}
@media screen and (max-width:450px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-wrap{
                    li{
                        padding: 10px;
                    }
                }
                .filters-content{
                    .row{
                        .all{
                            flex: 0 0 100%;
                            max-width: 100%;
                            .single-menu{
                                img{
                                    height: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #show-image{
        .img{
            height: 50%;
        }
        .close{
            #close-button{
                width: 30px;
                height: 30px;
                font-size: 28px;
                padding-bottom: 5px;
            }
        }
    }
}
@media screen and (max-width:340px) {
    .gallery{
        .gallery-wrap{
            .filters-container{
                .filters-wrap{
                    li{
                        padding: 10px;
                        font-size: 12px;
                    }
                }
                .filters-content{
                    .row{
                        .all{
                            flex: 0 0 100%;
                            max-width: 100%;
                            .single-menu{
                                img{
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #show-image{
        .img{
            height: 40%;
        }
       
    }
}


