.contactus-head {
  font-family: "Jost";
  text-align: center;
  background-color: black;
  padding-top: 50px;
}
.contactus-head h1 {
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.contactus-head div {
  display: inline-block;
  color: white;
}
.contactus-head div a {
  color: white;
}
.contactus-head div a:hover {
  text-decoration: underline;
}

.contact .contact-wrap {
  padding-left: 150px;
  padding-right: 150px;
}
.contact .contactus-map {
  font-family: "Jost";
  max-width: 1200px;
  padding: 20px;
  height: 500px;
  margin: 50px auto;
}
.contact .contactus-map .contactus-map-container {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 991px) {
  .contact .contact-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}