.jobs-head {
  font-family: "Jost";
  text-align: center;
  background-color: black;
  padding-top: 50px;
}
.jobs-head h1 {
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.jobs-head div {
  display: inline-block;
  color: white;
}
.jobs-head div a {
  color: white;
}
.jobs-head div a:hover {
  text-decoration: underline;
}

.jobs {
  background-color: black;
  width: 100%;
  font-family: "Jost";
  padding-top: 30px;
  padding-bottom: 50px;
}
.jobs .jobs-wrap {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 150px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  color: white;
}
.jobs .jobs-wrap .item {
  border-radius: 20px;
  border: 2px solid white;
  background-color: rgb(39, 39, 39);
  padding: 20px;
  transition: 0.6s;
}
.jobs .jobs-wrap .item h1 {
  font-weight: 400;
}
.jobs .jobs-wrap .item h4 {
  font-size: 18px;
  margin-top: 30px;
  color: #d40e8c;
}
.jobs .jobs-wrap .item ul li {
  font-size: 18px;
}
.jobs .jobs-wrap .item div {
  font-size: 18px;
}
.jobs .jobs-wrap .item div p {
  margin: 0;
  margin-bottom: 10px;
}
.jobs .jobs-wrap .item div a i {
  margin-right: 10px;
}
.jobs .jobs-wrap .item button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #d40e8c;
  font-family: "Jost";
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-top: 30px;
  width: 150px;
}
.jobs .jobs-wrap .item button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}
.jobs .jobs-wrap .item1:hover {
  transform: scale(1.3) translateX(20%);
}
.jobs .jobs-wrap .item2:hover {
  transform: scale(1.3) translateX(-20%);
}

@media screen and (max-width: 1200px) {
  .jobs .jobs-wrap {
    flex-direction: column;
    row-gap: 100px;
  }
  .jobs .jobs-wrap .item1:hover {
    transform: scale(1);
  }
  .jobs .jobs-wrap .item2:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 991px) {
  .jobs .jobs-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}