body a {
  text-decoration: none;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}

@keyframes navsticky {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.nav-sticky {
  animation: navsticky 0.5s;
  transition: transform 0.4s;
  background-color: rgb(31, 30, 30);
}

nav {
  font-family: "Jost";
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
}
@keyframes navleft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
nav .row {
  height: 90px;
  padding: 0 20px;
  max-width: 1680px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .row .left {
  display: flex;
  align-items: center;
  width: 70%;
}
nav .row .left img {
  width: 80px;
  height: 60px;
  cursor: pointer;
}
nav .row .left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: 30px;
}
nav .row .left li {
  float: left;
  margin-left: 30px;
}
nav .row .left li > a {
  color: rgb(182, 180, 180);
  font-size: 18px;
  text-align: center;
}
nav .row .left li > a:hover {
  color: white;
}
nav .row .left li > a:hover::after {
  height: 2px;
  animation: navleft 0.3s;
  background-color: #d40e8c;
  display: block;
  margin: auto;
  width: 100%;
  content: "";
}
nav .row .right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .row .right .right-button {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
nav .row .right .right-button button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #d40e8c;
  font-family: "Jost";
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 14px;
  width: 160px;
}
nav .row .right .right-button button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}
nav .row .right .right-button button i {
  font-size: 18px;
  margin-right: 10px;
}
nav .row .right .right-button-responsive {
  display: none;
  margin-right: 10px;
}
nav .row .right .right-button-responsive button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #d40e8c;
  font-family: "Jost";
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 14px;
  width: 160px;
}
nav .row .right .right-button-responsive button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}
nav .row .right .right-button-responsive button i {
  font-size: 18px;
  margin-right: 10px;
}
nav .row .right .right-button-responsive a {
  background-color: #d40e8c;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
nav .row .right .right-button-responsive a:hover {
  background-color: #39b54a;
}
nav .row .right .right-button-responsive a i {
  font-size: 16px;
  color: white;
}
nav .row .right .right-button-responsive .order {
  display: none;
}
nav .row .right .menu {
  display: none;
}
nav .row .right .menu a {
  background-color: #d40e8c;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
nav .row .right .menu a:hover {
  background-color: #39b54a;
}
nav .row .right .menu a i {
  font-size: 16px;
  color: white;
}
nav .row .right .offcanvas {
  padding: 0;
  width: 380px;
  background-color: black;
}
nav .row .right .offcanvas-header {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 30px;
  margin-top: 10px;
}
nav .row .right .offcanvas-header img {
  width: 80px;
  height: 60px;
  cursor: pointer;
}
nav .row .right .offcanvas-header button {
  color: white;
  z-index: 1000;
  font-size: 14px;
  background-color: #d40e8c;
}
nav .row .right .offcanvas-body .menu-show {
  width: 100%;
  position: relative;
}
nav .row .right .offcanvas-body .menu-show .menu-show-wrap {
  padding: 20px;
  width: 100%;
}
nav .row .right .offcanvas-body .menu-show .menu-show-wrap a {
  color: rgb(182, 180, 180);
  font-size: 20px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
nav .row .right .offcanvas-body .menu-show .menu-show-wrap a:hover {
  color: white;
}
nav .row .right .offcanvas-body .menu-show .menu-show-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 10px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #d40e8c;
}
nav .row .right .offcanvas-body .menu-show .menu-show-close:hover {
  cursor: pointer;
  color: #39b54a;
}

.img {
  position: relative;
  font-family: "Jost";
}

.img-wrap {
  position: relative;
  animation: imgwrap 4s;
}
@keyframes imgwrap {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.img-wrap img {
  width: 100%;
  height: auto;
  min-height: 250px;
}

.img-nav {
  position: absolute;
  right: 1%;
  height: 100px;
  width: 20px;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img-nav a {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.img-text {
  position: absolute;
  height: 40%;
  left: 140px;
  top: 50%;
  transform: translate(0, -70%);
}
@keyframes imgtextp {
  0% {
    top: 30%;
  }
  100% {
    top: 0;
  }
}
.img-text p {
  position: absolute;
  top: 0;
  font-size: 20px;
  margin: 0;
  width: 130px;
  animation: imgtextp 1s;
}
.img-text h1 {
  font-size: 100px;
  margin: 0;
  font-weight: 400;
}
.img-text a {
  font-size: 15px;
  padding: 12px 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  width: 150px;
  text-align: center;
  top: 90%;
  animation: imgtexta 3s;
  transition: 0.5s;
}
@keyframes imgtexta {
  0% {
    top: 150%;
  }
  100% {
    top: 90%;
  }
}
.img-text a:hover {
  background-color: black;
  color: white;
}

.img-text-h1 {
  position: absolute;
  top: 10%;
  animation: imgtexth1 3s;
  width: 600px;
}
@keyframes imgtexth1 {
  0% {
    display: block;
    top: 70%;
  }
  100% {
    display: block;
    top: 10%;
  }
}

.img-text-recotton {
  position: absolute;
  top: 93%;
  left: 70%;
  animation: imgtextrecotton 3s;
}
@keyframes imgtextrecotton {
  0% {
    left: 60%;
  }
  100% {
    left: 70%;
  }
}
.img-text-recotton > p {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  color: white;
}
.img-text-recotton a {
  border-bottom: 2px solid black;
  font-weight: 500;
  margin-left: 5px;
  font-size: 14px;
  background-color: #d40e8c;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  border: none;
  transition: 0.5s;
}
.img-text-recotton a:hover {
  background-color: #39b54a;
  color: white;
}

@keyframes productitem {
  0% {
    transform: translateY(-3px);
  }
  10% {
    transform: translateY(-22px) scale(1.2);
  }
  100% {
    transform: none;
  }
}
.item.animate {
  animation: fadeinup 1s;
  opacity: 1;
}

.product {
  background-color: black;
  width: 100%;
  font-family: "Jost";
}
.product .product-wrap {
  max-width: 1680px;
  padding: 40px 30px;
  margin: auto;
}
.product .product-wrap h2 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
.product .product-wrap .product-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 60px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.product .product-wrap .product-item .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  cursor: pointer;
  border-radius: 20px;
  padding: 30px 0;
  box-shadow: 0 1px 3px 0 #d40e8c, 0 3px 10px 0 #d40e8c;
}
.product .product-wrap .product-item .item img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  transition: 0.8s;
}
.product .product-wrap .product-item .item a {
  color: white;
  font-size: 20px;
  font-style: italic;
  transition: 0.5s;
  font-weight: 500;
  text-transform: capitalize;
}
.product .product-wrap .product-item .item:hover img {
  transform: rotate(25deg);
}
.product .product-wrap .product-item .item:hover a {
  animation: productitem 1.2s;
}

@keyframes gallery-animate2 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-10%, -30%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
@keyframes gallery-animate3 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-70%, -40%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
@keyframes gallery-animate4 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-30%, -60%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
@keyframes gallery-animate5 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, 0%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
.item.gallery-animate1 {
  animation: fadeinup 1.5s;
  opacity: 1;
}

.item.gallery-animate2 {
  animation: gallery-animate2 1.5s;
  opacity: 1;
}

.item.gallery-animate3 {
  animation: gallery-animate3 1.5s;
  opacity: 1;
}

.item.gallery-animate4 {
  animation: gallery-animate4 1.5s;
  opacity: 1;
}

.item.gallery-animate5 {
  animation: gallery-animate5 1.5s;
  opacity: 1;
}

.gallery {
  background-color: black;
  width: 100%;
  font-family: "Jost";
}
.gallery .gallery-wrap {
  max-width: 1200px;
  padding: 40px 30px;
  margin: auto;
}
.gallery .gallery-wrap h2 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
.gallery .gallery-wrap .gallery-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 10px;
  overflow: hidden;
}
.gallery .gallery-wrap .gallery-item .item {
  cursor: pointer;
  overflow: hidden;
  max-height: 400px;
  transition: 0.5s;
}
.gallery .gallery-wrap .gallery-item .item img {
  width: 100%;
  height: 100%;
  transition: 0.6s;
}
.gallery .gallery-wrap .gallery-item .item:hover {
  transform: scale(1.5);
  z-index: 10;
  box-shadow: 0 20px 40px #d40e8c;
}
.gallery .gallery-wrap .gallery-item .item:hover img {
  scale: 1.2;
}

#show-image {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  padding: 40px;
  padding-left: 60px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  animation: showimage 0.8s;
  -moz-column-gap: 10px;
       column-gap: 10px;
  z-index: 2000;
}
#show-image .img {
  width: 100%;
  height: 70%;
  max-width: 600px;
  position: relative;
  border: 5px solid white;
}
#show-image .img img {
  width: 100%;
  height: 100%;
}
#show-image .img #pre-button, #show-image .img #next-button {
  position: absolute;
  top: 50%;
  opacity: 0;
  cursor: pointer;
  transition: 1s;
}
#show-image .img #pre-button i, #show-image .img #next-button i {
  color: #d40e8c;
  font-size: 50px;
}
#show-image .img #pre-button {
  left: 10px;
}
#show-image .img #next-button {
  right: 10px;
}
#show-image .img:hover #pre-button, #show-image .img:hover #next-button {
  opacity: 1;
}
#show-image .close {
  display: flex;
  align-items: flex-start;
  height: 80%;
}
#show-image .close #close-button {
  color: white;
  background-color: #d40e8c;
  font-size: 35px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}
#show-image .close #close-button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}
#show-image .close #close-button i {
  font-size: 22px;
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
.reviews.reviews-animate {
  animation: fadeinup 0.8s;
  opacity: 1;
}

.reviews {
  background-color: black;
  width: 100%;
  font-family: "Jost";
}
.reviews .reviews-wrap {
  max-width: 1680px;
  padding: 40px 30px;
  margin: auto;
}
.reviews .reviews-wrap h2 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.reviews .reviews-wrap .reviews-item {
  width: 100%;
}
.reviews .reviews-wrap .reviews-item .slide,
.reviews .reviews-wrap .reviews-item .slide-responsive {
  width: 100%;
  position: relative;
}
.reviews .reviews-wrap .reviews-item .slide .carousel-inner-res,
.reviews .reviews-wrap .reviews-item .slide-responsive .carousel-inner-res {
  display: none;
}
.reviews .reviews-wrap .reviews-item .slide .carousel-item-wrap,
.reviews .reviews-wrap .reviews-item .slide-responsive .carousel-item-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 10px 180px;
}
.reviews .reviews-wrap .reviews-item .slide .item,
.reviews .reviews-wrap .reviews-item .slide-responsive .item {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews .reviews-wrap .reviews-item .slide .item p,
.reviews .reviews-wrap .reviews-item .slide-responsive .item p {
  color: white;
  font-size: 18px;
}
.reviews .reviews-wrap .reviews-item .slide .item h3,
.reviews .reviews-wrap .reviews-item .slide-responsive .item h3 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
  margin-top: 30px;
  color: #d40e8c;
  font-size: 22px;
}
.reviews .reviews-wrap .reviews-item .slide-responsive {
  display: none;
}
.reviews .reviews-wrap .reviews-button {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.reviews .reviews-wrap .reviews-button button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #d40e8c;
  font-family: "Jost";
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: white;
}
.reviews .reviews-wrap .reviews-button button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}

.contact.contact-animate {
  animation: fadeinup 1.5s;
  opacity: 1;
}

.contact {
  background-color: black;
  width: 100%;
  font-family: "Jost";
  opacity: 0;
}
.contact .contact-wrap {
  max-width: 1680px;
  padding: 40px 30px;
  margin: auto;
}
.contact .contact-wrap h2 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.contact .contact-wrap .contactus-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item p {
  font-family: "Jost";
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  width: 100%;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-left,
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-left label,
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-right label {
  font-family: "Jost";
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-left input,
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap .contactus-content-item-right input {
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  border: none;
  outline: none;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-textarea {
  width: 100%;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-textarea label {
  font-family: "Jost";
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-textarea textarea {
  resize: none !important;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-left: 10px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-button button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #d40e8c;
  font-family: "Jost";
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-top: 40px;
  width: 140px;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-button button:hover {
  background-color: #39b54a;
  border: 1px solid white;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-map {
  width: 100%;
}
.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-map .contactus-map-container {
  border-radius: 10px;
}

.menu-slide-container {
  font-family: "Jost";
  position: fixed;
  left: 0;
  top: 40%;
  z-index: 2;
}
.menu-slide-container .menu-slide-item1 {
  width: 50px;
  overflow: hidden;
  height: 50px;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  transition: 0.5s;
  background-color: rgb(66, 103, 178);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  background-color: #FBBC05;
}
.menu-slide-container .menu-slide-item1 i {
  color: white;
  margin-left: 5px;
}
.menu-slide-container .menu-slide-item1 div {
  display: none;
  margin-left: 20px;
  color: white;
  font-weight: 500;
  width: 0;
}
.menu-slide-container .menu-slide-item1:hover {
  cursor: pointer;
  width: 120px;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
}
.menu-slide-container .menu-slide-item1:hover div {
  display: inline-block;
}
.menu-slide-container .menu-slide-item2 {
  width: 50px;
  overflow: hidden;
  height: 50px;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  transition: 0.5s;
  background-color: rgb(66, 103, 178);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  background-color: #E95950;
}
.menu-slide-container .menu-slide-item2 i {
  color: white;
  margin-left: 5px;
}
.menu-slide-container .menu-slide-item2 div {
  display: none;
  margin-left: 20px;
  color: white;
  font-weight: 500;
  width: 0;
}
.menu-slide-container .menu-slide-item2:hover {
  cursor: pointer;
  width: 120px;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
}
.menu-slide-container .menu-slide-item2:hover div {
  display: inline-block;
}
.menu-slide-container .menu-slide-item3 {
  width: 50px;
  overflow: hidden;
  height: 50px;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  transition: 0.5s;
  background-color: rgb(66, 103, 178);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
}
.menu-slide-container .menu-slide-item3 i {
  color: white;
  margin-left: 5px;
}
.menu-slide-container .menu-slide-item3 div {
  display: none;
  margin-left: 20px;
  color: white;
  font-weight: 500;
  width: 0;
}
.menu-slide-container .menu-slide-item3:hover {
  cursor: pointer;
  width: 120px;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
}
.menu-slide-container .menu-slide-item3:hover div {
  display: inline-block;
}
.menu-slide-container .menu-slide-item4 {
  width: 50px;
  overflow: hidden;
  height: 50px;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  transition: 0.5s;
  background-color: rgb(66, 103, 178);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  background-color: red;
}
.menu-slide-container .menu-slide-item4 i {
  color: white;
  margin-left: 5px;
}
.menu-slide-container .menu-slide-item4 div {
  display: none;
  margin-left: 20px;
  color: white;
  font-weight: 500;
  width: 0;
}
.menu-slide-container .menu-slide-item4:hover {
  cursor: pointer;
  width: 120px;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
}
.menu-slide-container .menu-slide-item4:hover div {
  display: inline-block;
}

footer {
  background-color: black;
  width: 100%;
  font-family: "Jost";
  padding-top: 30px;
}
footer .footer-wrap {
  max-width: 1680px;
  padding: 40px 30px 15px 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
footer .footer-wrap .footer-logo img {
  width: 150px;
  height: auto;
}
footer .footer-wrap .footer-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 30px;
  width: 100%;
}
footer .footer-wrap .footer-content .footer-content-item {
  max-width: 500px;
  flex: 1;
}
footer .footer-wrap .footer-content .footer-content-item h2 {
  font-family: "Jost";
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: 28px;
  margin: 0;
  text-align: left;
  margin-bottom: 30px;
  color: #d40e8c;
}
footer .footer-wrap .footer-content .footer-content-item p {
  color: white;
  font-size: 18px;
}
footer .footer-wrap .footer-content .footer-content-item p i {
  margin-right: 10px;
  color: white;
}
footer .footer-wrap .footer-content .footer-content-item a {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  border: 1px solid #d40e8c;
  cursor: pointer;
}
footer .footer-wrap .footer-content .footer-content-item a i {
  transition: 0.4s;
}
footer .footer-wrap .footer-content .footer-content-item a:hover {
  color: #d40e8c;
}
footer .footer-wrap .footer-content .footer-content-item a:hover i {
  transform: rotateY(180deg);
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content {
  width: 100%;
  height: 120px;
  background-image: url("../images/home/footer-fb-logo-rove2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text a {
  font-size: 14px;
  margin: 0;
  color: black;
  font-weight: 600;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 120px;
  height: 20px;
  text-align: left;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text a:first-of-type {
  font-size: 18px;
  font-weight: 500;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button {
  font-size: 14px;
  border: 1px solid lightgray;
  color: rgb(88, 88, 88);
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button i {
  margin-right: 5px;
}
footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer .footer-wrap .footer-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-wrap .footer-bot p {
  color: white;
  margin-bottom: 0;
}
footer .footer-wrap .footer-bot p a {
  color: #d40e8c;
}

#scrolltop {
  bottom: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #d40e8c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  z-index: 2000;
}
#scrolltop img {
  width: 20px;
  height: 20px;
}
#scrolltop:hover {
  cursor: pointer;
  background-color: #39b54a;
}

.scrolltop-show {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 60px;
  height: 60px;
  animation: navsticky 0.8s;
  transition: transform 0.4s;
}
@keyframes navsticky {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 1700px) {
  .img .img-wrap .img-text {
    left: 40px;
  }
  .img .img-wrap .img-text a {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1470px) {
  nav .row .left li {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1399px) {
  .top2 .row {
    padding: 0 5px;
  }
  .top2 .row .col-xxl-4:first-of-type {
    display: none;
  }
  .top2 .row .col-md-9 {
    text-align: left;
  }
  nav .row {
    padding: 0 5px;
  }
  nav .row .left ul li .menu-dropdown .menu-dropdown-item #season {
    max-width: 350px;
  }
  nav .row .left ul li .menu-dropdown .menu-dropdown-item .menu-dropdown-item-product {
    max-width: 460px;
  }
  .img .img-wrap .img-text a {
    margin-top: 70px;
  }
  .product {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 1350px) {
  nav .row .left li {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .img .img-wrap .img-text-recotton {
    top: 90%;
  }
}
@media screen and (max-width: 1199px) {
  nav .row .right .right-button button {
    font-size: 11px;
    width: 120px;
    padding: 5px;
  }
  .user {
    display: none;
  }
  .img .img-wrap .img-text .img-text-h1 h1 {
    font-size: 90px;
  }
  .img .img-wrap .img-text a {
    margin-top: 90px;
    width: 120px;
    padding: 10px 15px;
  }
  @keyframes imgtextrecotton {
    0% {
      left: 50%;
    }
    100% {
      left: 60%;
    }
  }
  .img .img-wrap .img-text-recotton {
    left: 60%;
    top: 90%;
  }
  .contact .contact-wrap .contactus-content-container {
    flex-direction: column;
  }
  .contact .contact-wrap .contactus-content-container .contactus-content-item {
    width: 100%;
  }
  .contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-map {
    padding: 0;
  }
  .menu-slide-container {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .product .product-wrap {
    padding-right: 0;
  }
  .product .product-wrap .product-item {
    grid-template-columns: auto auto auto;
  }
  .product .product-wrap .product-item .item {
    width: 90%;
    height: 90%;
  }
  .reviews .reviews-wrap .reviews-item .slide .carousel-item-wrap {
    padding: 10px 60px;
  }
  .reviews .reviews-wrap .reviews-item .slide .carousel-item-wrap #reviews-res {
    display: none;
  }
  footer .footer-wrap .footer-content {
    grid-template-columns: auto auto;
    row-gap: 20px;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media screen and (max-width: 1015px) {
  nav .row .left ul li a {
    font-size: 17px;
  }
}
@media screen and (max-width: 991px) {
  nav .row .left ul {
    display: none;
  }
  nav .row .right .right-button button {
    display: none;
  }
  nav .row .right .right-button-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  nav .row .right .menu {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  nav .row .right .menu button {
    background-color: #39b54a;
    height: 35px;
  }
  .img .img-wrap .img-text .img-text-h1 {
    margin-top: 10px;
  }
  .img .img-wrap .img-text .img-text-h1 h1 {
    font-size: 70px;
  }
  .img .img-wrap .img-text a {
    margin-top: 70px;
    width: 100px;
    padding: 10px 15px;
  }
  @keyframes imgtextrecotton {
    0% {
      left: 52%;
    }
    100% {
      left: 62%;
    }
  }
  .img .img-wrap .img-text-recotton {
    display: none;
    top: 85%;
    left: 62%;
  }
  .scrolltop-show {
    width: 40px;
    height: 40px;
    bottom: 80px;
  }
  .message {
    width: 40px;
  }
}
@media screen and (max-width: 850px) {
  .product .product-wrap .product-item {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 767px) {
  nav .row .offcanvas {
    width: 300px;
  }
  nav .row .offcanvas-header .menu-show-wrap {
    padding: 10px;
  }
  nav .row .offcanvas-header .menu-show-wrap .menu-show-item {
    width: 250px;
  }
  nav .row .offcanvas-header .menu-show-wrap .menu-show-item-dropdown .item {
    width: 250px;
  }
  nav .row .offcanvas-header .menu-show-close {
    left: 300px;
  }
  .img .img-wrap .img-text p {
    font-size: 16px;
  }
  .img .img-wrap .img-text .img-text-h1 {
    margin-top: 10px;
    width: 250px;
  }
  .img .img-wrap .img-text .img-text-h1 h1 {
    font-size: 50px;
  }
  .img .img-wrap .img-text a {
    margin-top: 50px;
    width: 100px;
    padding: 5px 10px;
    font-size: 15px;
  }
  @keyframes imgtextrecotton {
    0% {
      left: 52%;
    }
    100% {
      left: 62%;
    }
  }
  .img .img-wrap .img-text-recotton {
    font-size: 15px;
    top: 85%;
    left: 62%;
  }
  .img .img-wrap .img-text-recotton a {
    font-size: 15px;
  }
  .reviews .reviews-wrap .reviews-item .slide {
    display: none;
  }
  .reviews .reviews-wrap .reviews-item .slide-responsive {
    display: block;
  }
  .reviews .reviews-wrap .reviews-item .slide-responsive .carousel-item-wrap {
    display: block;
    padding: 40px;
  }
  .contact .row .last input {
    width: 75%;
  }
  .contact .row .last button {
    width: 15%;
  }
}
@media screen and (max-width: 700px) {
  .product .product-wrap .product-item .item a {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  nav .row .right .right-button-responsive button {
    font-size: 11px;
    width: 120px;
    padding: 5px;
  }
  footer .footer-wrap .footer-content {
    grid-template-columns: auto;
    row-gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  .img .img-wrap .img-text p {
    font-size: 16px;
  }
  .img .img-wrap .img-text .img-text-h1 {
    margin-top: 10px;
  }
  .img .img-wrap .img-text .img-text-h1 h1 {
    font-size: 40px;
  }
  .img .img-wrap .img-text a {
    margin-top: 50px;
    width: 100px;
    padding: 5px 5px;
    font-size: 12px;
  }
  @keyframes imgtextrecotton {
    0% {
      left: 42%;
    }
    100% {
      left: 52%;
    }
  }
  .img .img-wrap .img-text-recotton {
    top: 85%;
    left: 52%;
  }
  .section-collection-head .row span {
    font-size: 32px;
  }
  .youarein {
    font-size: 25px;
  }
}
@media screen and (max-width: 550px) {
  nav .row .right .right-button-responsive button {
    display: none;
  }
  nav .row .right .right-button-responsive .order {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  nav .row .center img {
    width: 100px;
  }
  nav .row .right ul .search i,
  nav .row .right ul .mycart i {
    font-size: 16px;
  }
  .img .img-wrap .img-text-recotton {
    display: none;
  }
  .contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .gallery .gallery-wrap .gallery-item {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 450px) {
  nav .row .offcanvas {
    width: 250px;
  }
  nav .row .offcanvas-header .menu-show-wrap {
    padding: 10px;
  }
  nav .row .offcanvas-header .menu-show-wrap .menu-show-item {
    width: 200px;
  }
  .product .product-wrap {
    padding-right: 30px;
  }
  .product .product-wrap .product-item {
    grid-template-columns: auto;
  }
  .product .product-wrap .product-item .item {
    width: 75%;
    height: 85%;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  nav .row .right .right-button-responsive a:last-of-type {
    display: none;
  }
  .img .img-wrap .img-text p {
    font-size: 16px;
  }
  .img .img-wrap .img-text .img-text-h1 {
    margin-top: 15px;
  }
  .img .img-wrap .img-text .img-text-h1 h1 {
    font-size: 30px;
  }
  .img .img-wrap .img-text a {
    margin-top: 20px;
    width: 80px;
    padding: 3px;
    font-size: 12px;
  }
  .reviews .reviews-wrap .reviews-button {
    flex-direction: column;
  }
  .reviews .reviews-wrap .reviews-button button {
    margin: auto;
  }
  .reviews .reviews-wrap .reviews-button button:last-of-type {
    margin-top: 20px;
  }
}
@media screen and (max-width: 360px) {
  .img .img-wrap .img-text-h1 {
    margin-top: 8px;
  }
  .img .img-wrap .img-text h1 {
    font-size: 20px;
  }
  .gallery .gallery-wrap .gallery-item {
    grid-template-columns: auto auto;
  }
}