/* Basic sample */

body {
	/* overflow-x: hidden; */
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
}

.menuorder-head {
	font-family: "Jost";
	text-align: center;
	background-color: black;
	padding-top: 50px;
}

.menuorder-head h1 {
	font-weight: 400;
	font-size: 40px;
	color: white;
}

.menuorder-head div {
	display: inline-block;
	color: white;
}

.menuorder-head div a {
	color: white;
}

.menuorder-head div a:hover {
	text-decoration: underline;
}

.menuorder {
	width: 100%;
	height: 800px;
	background-color: black;
	margin: auto;
}

.menuorder-res {
	width: 100%;
	background-color: black;
	margin: auto;
	display: none;
}

.menuorder-res .item {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	font-family: "Jost";
	/* padding-bottom: 40px; */
}

.item .top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item .top img {
	width: 200px;
	height: 350px;
}

.item .bottom {
	padding: 10px 30px;
	color: #fcfcfc;
	margin-bottom: 150px;
}

.item .bottom .content-menu {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 30px;
}

.item .bottom h2 {
	color: #d40e8c;
	font-size: 30px;
}

.item .bottom h2:last-of-type {
	color: #39b54a;
	font-size: 25px;
	margin-top: 20px;
}

.content-menu .item {
	row-gap: 0px;
}

.item .bottom .price {
	color: #d40e8c;
}

.flipbook-viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.flipbook-viewport .container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
}

.flipbook-viewport .flipbook {
	width: 922px;
	height: 600px;
	left: -461px;
	top: -300px;
}

.flipbook-viewport .page {
	width: 461px;
	height: 600px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.flipbook .page {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}

.flipbook-viewport .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-o-box-shadow: 0 0 20px #ccc;
	-ms-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}

.flipbook .flipbook-pages {
	background-color: rgb(39, 39, 39);
	color: white;
}

.flipbook .flipbook-pages img {
	width: 200px;
	height: 350px;
}

.flipbook .cover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.flipbook .cover h2 {
	color: #d40e8c;
}

.flipbook .odd {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slice {
	border-right: 1px solid rgb(75, 74, 74);
}

.flipbook .even {
	padding-top: 6px;
	padding-right: 10px;
	display: flex;
	align-items: flex-start;
}

.content-wrap {
	background-color: #231f20;
	height: 100%;
	width: 100%;
	font-family: "Jost";
}

.even .content {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	margin-left: 5px;
}

.even .content h2 {
	color: #d40e8c;
	font-size: 30px;

}

.even .content h2:last-of-type {
	color: #39b54a;
	font-size: 25px;
	margin-top: 20px;
}

.even .content .content-menu {
	margin-top: 30px;
	display: flex;

}

.even .content .content-menu .price {
	color: #d40e8c;
}

body a {
	text-decoration: none;
}

::-moz-selection {
	background-color: black;
	color: white;
}

::selection {
	background-color: black;
	color: white;
}

@keyframes navsticky {
	0% {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.nav-sticky {
	animation: navsticky 0.5s;
	transition: transform 0.4s;
	background-color: rgb(31, 30, 30);
}

nav {
	font-family: "Jost";
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: black;
}

@keyframes navleft {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

nav .row {
	height: 90px;
	padding: 0 20px;
	max-width: 1680px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

nav .row .left {
	display: flex;
	align-items: center;
	width: 70%;
}

nav .row .left img {
	width: 80px;
	height: 60px;
	cursor: pointer;
}

nav .row .left ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-left: 30px;
}

nav .row .left li {
	float: left;
	margin-left: 30px;
}

nav .row .left li>a {
	color: rgb(182, 180, 180);
	font-size: 18px;
	text-align: center;
}

nav .row .left li>a:hover {
	color: white;
}

nav .row .left li>a:hover::after {
	height: 2px;
	animation: navleft 0.3s;
	background-color: #d40e8c;
	display: block;
	margin: auto;
	width: 100%;
	content: "";
}

nav .row .right {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .row .right .right-button {
	display: flex;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

nav .row .right .right-button button {
	height: 40px;
	width: 200px;
	padding: 10px;
	color: white;
	background-color: #d40e8c;
	font-family: "Jost";
	font-size: 18px;
	border-radius: 30px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	font-size: 14px;
	width: 160px;
}

nav .row .right .right-button button:hover {
	background-color: #39b54a;
	border: 1px solid white;
}

nav .row .right .right-button button i {
	font-size: 18px;
	margin-right: 10px;
}

nav .row .right .right-button-responsive {
	display: none;
	margin-right: 10px;
}

nav .row .right .right-button-responsive button {
	height: 40px;
	width: 200px;
	padding: 10px;
	color: white;
	background-color: #d40e8c;
	font-family: "Jost";
	font-size: 18px;
	border-radius: 30px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	font-size: 14px;
	width: 160px;
}

nav .row .right .right-button-responsive button:hover {
	background-color: #39b54a;
	border: 1px solid white;
}

nav .row .right .right-button-responsive button i {
	font-size: 18px;
	margin-right: 10px;
}

nav .row .right .right-button-responsive a {
	background-color: #d40e8c;
	height: 35px;
	width: 35px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
}

nav .row .right .right-button-responsive a:hover {
	background-color: #39b54a;
}

nav .row .right .right-button-responsive a i {
	font-size: 16px;
	color: white;
}

nav .row .right .right-button-responsive .order {
	display: none;
}

nav .row .right .menu {
	display: none;
}

nav .row .right .menu a {
	background-color: #d40e8c;
	height: 35px;
	width: 35px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
}

nav .row .right .menu a:hover {
	background-color: #39b54a;
}

nav .row .right .menu a i {
	font-size: 16px;
	color: white;
}

nav .row .right .offcanvas {
	padding: 0;
	width: 380px;
	background-color: black;
}

nav .row .right .offcanvas-header {
	display: flex;
	width: 100%;
	height: 80px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 10px 30px;
	margin-top: 10px;
}

nav .row .right .offcanvas-header img {
	width: 80px;
	height: 60px;
	cursor: pointer;
}

nav .row .right .offcanvas-header button {
	color: white;
	z-index: 1000;
	font-size: 14px;
	background-color: #d40e8c;
}

nav .row .right .offcanvas-body .menu-show {
	width: 100%;
	position: relative;
}

nav .row .right .offcanvas-body .menu-show .menu-show-wrap {
	padding: 20px;
	width: 100%;
}

nav .row .right .offcanvas-body .menu-show .menu-show-wrap a {
	color: rgb(182, 180, 180);
	font-size: 20px;
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

nav .row .right .offcanvas-body .menu-show .menu-show-wrap a:hover {
	color: white;
}

nav .row .right .offcanvas-body .menu-show .menu-show-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
	line-height: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: #d40e8c;
}

nav .row .right .offcanvas-body .menu-show .menu-show-close:hover {
	cursor: pointer;
	color: #39b54a;
}

footer {
	background-color: black;
	width: 100%;
	font-family: "Jost";
	padding-top: 30px;
}

footer .footer-wrap {
	max-width: 1680px;
	padding: 40px 30px 15px 30px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

footer .footer-wrap .footer-logo img {
	width: 150px;
	height: auto;
}

footer .footer-wrap .footer-content {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-between;
	-moz-column-gap: 20px;
	column-gap: 20px;
	margin-top: 30px;
	width: 100%;
}

footer .footer-wrap .footer-content .footer-content-item {
	max-width: 500px;
	flex: 1;
}

footer .footer-wrap .footer-content .footer-content-item h2 {
	font-family: "Jost";
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 80px;
	margin-top: 50px;
	font-size: 28px;
	margin: 0;
	text-align: left;
	margin-bottom: 30px;
	color: #d40e8c;
}

footer .footer-wrap .footer-content .footer-content-item p {
	color: white;
	font-size: 18px;
}

footer .footer-wrap .footer-content .footer-content-item p i {
	margin-right: 10px;
	color: white;
}

footer .footer-wrap .footer-content .footer-content-item a {
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	margin-right: 8px;
	border: 1px solid #d40e8c;
	cursor: pointer;
}

footer .footer-wrap .footer-content .footer-content-item a i {
	transition: 0.4s;
}

footer .footer-wrap .footer-content .footer-content-item a:hover {
	color: #d40e8c;
}

footer .footer-wrap .footer-content .footer-content-item a:hover i {
	transform: rotateY(180deg);
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content {
	width: 100%;
	height: 120px;
	/* background-image: url("assets/turnjs4/samples/basic/pages/footer-fb.jpg"); */
	background-image: url('../pages/footer-fb-logo-rove2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 200px;
	display: flex;
	-moz-column-gap: 10px;
	column-gap: 10px;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top img {
	width: 50px;
	height: 50px;
	border: 2px solid white;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text {
	display: flex;
	flex-direction: column;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text a {
	font-size: 14px;
	margin: 0;
	color: black;
	border: none;
	padding: 0;
	background-color: transparent;
	width: 120px;
	height: 20px;
	text-align: left;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-top .facebook-content-top-text a:first-of-type {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: flex;
	justify-content: space-between;
	width: 90%;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button {
	font-size: 14px;
	border: 1px solid lightgray;
	color: rgb(88, 88, 88);
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button i {
	margin-right: 5px;
}

footer .footer-wrap .footer-content .footer-content-item .facebook-content .facebook-content-bottom button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer .footer-wrap .footer-bot {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer .footer-wrap .footer-bot p {
	color: white;
	margin-bottom: 0;
}

footer .footer-wrap .footer-bot p a {
	color: #d40e8c;
}

#scrolltop {
	bottom: 40px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #d40e8c;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	z-index: 2000;
}

#scrolltop img {
	width: 20px;
	height: 20px;
}

#scrolltop:hover {
	cursor: pointer;
	background-color: #39b54a;
}

.scrolltop-show {
	position: fixed;
	bottom: 100px;
	right: 30px;
	width: 60px;
	height: 60px;
	animation: navsticky 0.8s;
	transition: transform 0.4s;
}

@keyframes navsticky {
	0% {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@media screen and (max-width: 1700px) {
	.img .img-wrap .img-text {
		left: 40px;
	}

	.img .img-wrap .img-text a {
		margin-top: 40px;
	}
}

@media screen and (max-width: 1470px) {
	nav .row .left li {
		margin-left: 50px;
	}
}

@media screen and (max-width: 1399px) {
	.top2 .row {
		padding: 0 5px;
	}

	.top2 .row .col-xxl-4:first-of-type {
		display: none;
	}

	.top2 .row .col-md-9 {
		text-align: left;
	}

	nav .row {
		padding: 0 5px;
	}

	nav .row .left ul li .menu-dropdown .menu-dropdown-item #season {
		max-width: 350px;
	}

	nav .row .left ul li .menu-dropdown .menu-dropdown-item .menu-dropdown-item-product {
		max-width: 460px;
	}

	.img .img-wrap .img-text a {
		margin-top: 70px;
	}

	/* @keyframes imgtextrecotton {
		0% {
			left: 65%;
		}

		100% {
			left: 75%;
		}
	}

	.img .img-wrap .img-text-recotton {
		left: 75%;
	} */

	.product {
		grid-template-columns: auto auto auto auto;
	}
}

@media screen and (max-width: 1350px) {
	nav .row .left li {
		margin-left: 40px;
	}
}

@media screen and (max-width: 1199px) {
	nav .row .right .right-button button {
		font-size: 11px;
		width: 120px;
		padding: 5px;
	}

	.user {
		display: none;
	}

	.img .img-wrap .img-text .img-text-h1 h1 {
		font-size: 90px;
	}

	.img .img-wrap .img-text a {
		margin-top: 90px;
		width: 120px;
		padding: 10px 15px;
	}

	@keyframes imgtextrecotton {
		0% {
			left: 60%;
		}

		100% {
			left: 70%;
		}
	}

	.img .img-wrap .img-text-recotton {
		left: 70%;
	}

	.contact .contact-wrap .contactus-content-container {
		flex-direction: column;
	}

	.contact .contact-wrap .contactus-content-container .contactus-content-item {
		width: 100%;
	}

	.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-map {
		padding: 0;
	}

	.menu-slide-container {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	.product .product-wrap .product-item {
		grid-template-columns: auto auto auto;
	}

	.reviews .reviews-wrap .reviews-item .slide .carousel-item-wrap {
		padding: 10px 60px;
	}

	.reviews .reviews-wrap .reviews-item .slide .carousel-item-wrap #reviews-res {
		display: none;
	}

	footer .footer-wrap .footer-content {
		grid-template-columns: auto auto;
		row-gap: 20px;
		-moz-column-gap: 80px;
		column-gap: 80px;
	}
}

@media screen and (max-width: 1015px) {
	nav .row .left ul li a {
		font-size: 17px;
	}
}

@media screen and (max-width: 1000px) {
	.menuorder {
		display: none;
	}

	.menuorder-res {
		display: block;
		padding: 30px;
	}

}

@media screen and (max-width: 991px) {
	nav .row .left ul {
		display: none;
	}

	nav .row .right .right-button button {
		display: none;
	}

	nav .row .right .right-button-responsive {
		display: flex;
		justify-content: space-between;
		align-items: center;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	nav .row .right .menu {
		display: flex;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	nav .row .right .menu button {
		background-color: black;
		height: 35px;
	}

	.img .img-wrap .img-text .img-text-h1 {
		margin-top: 10px;
	}

	.img .img-wrap .img-text .img-text-h1 h1 {
		font-size: 70px;
	}

	.img .img-wrap .img-text a {
		margin-top: 70px;
		width: 100px;
		padding: 10px 15px;
	}

	@keyframes imgtextrecotton {
		0% {
			left: 52%;
		}

		100% {
			left: 62%;
		}
	}

	.img .img-wrap .img-text-recotton {
		top: 85%;
		left: 62%;
	}

	.scrolltop-show {
		width: 40px;
		height: 40px;
		bottom: 80px;
	}

	.message {
		width: 40px;
	}

	/* .menuorder-res{
		display: block;
		padding: 30px;
	} */
}

@media screen and (max-width: 850px) {
	.product .product-wrap .product-item {
		grid-template-columns: auto auto;
	}

	.menuorder-res {
		padding: 0;
	}
}

@media screen and (max-width: 767px) {
	nav .row .offcanvas {
		width: 300px;
	}

	nav .row .offcanvas-header .menu-show-wrap {
		padding: 10px;
	}

	nav .row .offcanvas-header .menu-show-wrap .menu-show-item {
		width: 250px;
	}

	nav .row .offcanvas-header .menu-show-wrap .menu-show-item-dropdown .item {
		width: 250px;
	}

	nav .row .offcanvas-header .menu-show-close {
		left: 300px;
	}

	.img .img-wrap .img-text p {
		font-size: 16px;
	}

	.img .img-wrap .img-text .img-text-h1 {
		margin-top: 10px;
		width: 250px;
	}

	.img .img-wrap .img-text .img-text-h1 h1 {
		font-size: 50px;
	}

	.img .img-wrap .img-text a {
		margin-top: 50px;
		width: 100px;
		padding: 5px 10px;
		font-size: 15px;
	}

	@keyframes imgtextrecotton {
		0% {
			left: 52%;
		}

		100% {
			left: 62%;
		}
	}

	.img .img-wrap .img-text-recotton {
		font-size: 15px;
		top: 85%;
		left: 62%;
	}

	.img .img-wrap .img-text-recotton a {
		font-size: 15px;
	}

	.reviews .reviews-wrap .reviews-item .slide {
		display: none;
	}

	.reviews .reviews-wrap .reviews-item .slide-responsive {
		display: block;
	}

	.reviews .reviews-wrap .reviews-item .slide-responsive .carousel-item-wrap {
		display: block;
		padding: 40px;
	}

	.contact .row .last input {
		width: 75%;
	}

	.contact .row .last button {
		width: 15%;
	}

	/* .menuorder-res{
		display: block;
		padding: 50px;
	} */
}

@media screen and (max-width: 749px) {
	.menuorder-res .bottom .food4::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 695px) {
	.menuorder-res .bottom .food2::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 650px) {
	nav .row .right .right-button-responsive button {
		font-size: 11px;
		width: 120px;
		padding: 5px;
	}

	footer .footer-wrap .footer-content {
		grid-template-columns: auto;
		row-gap: 30px;
	}

	.menuorder-res .top img {
		width: 120px;
		height: 200px;
	}

	.menuorder-res .bottom {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 642px) {
	.menuorder-res .bottom .food3::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 600px) {
	.img .img-wrap .img-text p {
		font-size: 16px;
	}

	.img .img-wrap .img-text .img-text-h1 {
		margin-top: 10px;
	}

	.img .img-wrap .img-text .img-text-h1 h1 {
		font-size: 40px;
	}

	.img .img-wrap .img-text a {
		margin-top: 50px;
		width: 100px;
		padding: 5px 5px;
		font-size: 12px;
	}

	@keyframes imgtextrecotton {
		0% {
			left: 42%;
		}

		100% {
			left: 52%;
		}
	}

	.img .img-wrap .img-text-recotton {
		top: 85%;
		left: 52%;
	}

	.section-collection-head .row span {
		font-size: 32px;
	}

	.youarein {
		font-size: 25px;
	}
}

@media screen and (max-width: 550px) {
	nav .row .right .right-button-responsive button {
		display: none;
	}

	nav .row .right .right-button-responsive .order {
		display: flex;
	}
}

@media screen and (max-width: 538px) {
	.menuorder-res .bottom .food5::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 500px) {
	nav .row .center img {
		width: 100px;
	}

	nav .row .right ul .search i,
	nav .row .right ul .mycart i {
		font-size: 16px;
	}

	.img .img-wrap .img-text-recotton {
		display: none;
	}

	.contact .contact-wrap .contactus-content-container .contactus-content-item .contactus-content-item-wrap {
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	.gallery .gallery-wrap .gallery-item {
		grid-template-columns: auto auto auto;
	}

	.menuorder-res {
		display: block;
		padding: 0;
	}

	/* .menuorder-res .top img{
		width: 120px;
		height: 200px;
	}
	.menuorder-res .bottom{
		margin-bottom: 100px;
	} */
}

@media screen and (max-width: 450px) {
	nav .row .offcanvas {
		width: 250px;
	}

	nav .row .offcanvas-header .menu-show-wrap {
		padding: 10px;
	}

	nav .row .offcanvas-header .menu-show-wrap .menu-show-item {
		width: 200px;
	}

	.product .product-wrap .product-item {
		grid-template-columns: auto;
	}

}

@media screen and (max-width: 430px) {
	.menuorder-res .bottom .food4::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 25px;
	}
}

@media screen and (max-width: 423px) {
	.menuorder-res .bottom .food2::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 25px;
	}
}

@media screen and (max-width: 400px) {
	nav .row .right .right-button-responsive a:last-of-type {
		display: none;
	  }
	.img .img-wrap .img-text p {
		font-size: 16px;
	}

	.img .img-wrap .img-text .img-text-h1 {
		margin-top: 15px;
	}

	.img .img-wrap .img-text .img-text-h1 h1 {
		font-size: 30px;
	}

	.img .img-wrap .img-text a {
		margin-top: 20px;
		width: 80px;
		padding: 3px;
		font-size: 12px;
	}

	.reviews .reviews-wrap .reviews-button {
		flex-direction: column;
	}

	.reviews .reviews-wrap .reviews-button button {
		margin: auto;
	}

	.reviews .reviews-wrap .reviews-button button:last-of-type {
		margin-top: 20px;
	}
}

@media screen and (max-width: 370px) {
	.menuorder-res .bottom .food3::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 25px;
	}
}

@media screen and (max-width: 360px) {
	.img .img-wrap .img-text-h1 {
		margin-top: 8px;
	}

	.img .img-wrap .img-text h1 {
		font-size: 20px;
	}

	.gallery .gallery-wrap .gallery-item {
		grid-template-columns: auto auto;
	}

	/* .menuorder-res .top img{
		width: 250px;
		height: 250px;
	} */
}

@media screen and (max-width: 348px) {
	.menuorder-res .bottom .food9::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 339px) {
	.menuorder-res .bottom .food10::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 334px) {
	.menuorder-res .bottom .food6::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 324px) {
	.menuorder-res .bottom .food8::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 321px) {
	.menuorder-res .bottom .food5::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 25px;
	}
}

@media screen and (max-width: 316px) {
	.menuorder-res .bottom .food4::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 50px;
	}

	.menuorder-res .bottom .food11::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 314px) {
	.menuorder-res .bottom .food12::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 312px) {
	.menuorder-res .bottom .food7::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 310px) {
	.menuorder-res .bottom .food13::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
	}
}

@media screen and (max-width: 300px) {
	nav .row .right .right-button-responsive a:last-of-type {
		display: none;
	}

}

@media screen and (max-width: 289px) {
	.menuorder-res .bottom .food3::before {
		display: block;
		content: "&nbsp;";
		visibility: hidden;
		margin-top: 50px;
	}

}